<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eleven</title>
    <link rel="stylesheet" href="/static/style.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    

    <!-- SCRIPT para adicionar cor e tamanho por cor */ -->
    <script>
        function addColorSizeFields() {
            var container = document.getElementById("colorSizeContainer");
            var colorSizeBlock = document.createElement("div");
            colorSizeBlock.classList.add("color-size-block");
        
            // Criar e adicionar campo de cor
            var rowCor = document.createElement("div");
            rowCor.classList.add("row", "mb-2");
            var colorField = document.createElement("div");
            colorField.classList.add("color-field", "col-md-6");
            var labelCor = document.createElement("label");
            labelCor.textContent = "Cor: ";
            var selectCor = document.createElement("select");
            selectCor.name = "color[]";
            selectCor.classList.add("form-control");
            var cores = ["selecione", "white", "black", "navy", "brown", "green", "beige", "red", "gray", "darkgray", "pink", "yellow", "orange", "purple", "blue", "wine"];
            var nomesCores = ["Selecione", "Branco", "Preto", "Azul", "Marrom", "Verde", "Bege", "Vermelho", "Cinza", "Cinza Escuro", "Rosa", "Amarelo", "Laranja", "Roxo", "Azul", "Vinho"];
            for (var i = 0; i < cores.length; i++) {
                var option = document.createElement("option");
                option.value = cores[i];
                option.textContent = nomesCores[i];
                selectCor.appendChild(option);
            }
            colorField.appendChild(labelCor);
            colorField.appendChild(selectCor);
            rowCor.appendChild(colorField);
            colorSizeBlock.appendChild(rowCor);
        
            // Criar e adicionar campo de tamanho
            var rowTamanho = document.createElement("div");
            rowTamanho.classList.add("row", "mb-2");
            var sizeField = document.createElement("div");
            sizeField.classList.add("size-field", "col-md-6");
            var labelTamanho = document.createElement("label");
            labelTamanho.textContent = "Tamanho: ";
            var inputTamanho = document.createElement("input");
            inputTamanho.type = "text";
            inputTamanho.name = "size[]";
            inputTamanho.classList.add("form-control");
            sizeField.appendChild(labelTamanho);
            sizeField.appendChild(inputTamanho);
            rowTamanho.appendChild(sizeField);
            colorSizeBlock.appendChild(rowTamanho);
        
            // Criar e adicionar campo de quantidade
            var rowQuantidade = document.createElement("div");
            rowQuantidade.classList.add("row", "mb-2");
            var quantityField = document.createElement("div");
            quantityField.classList.add("quantity-field", "col-md-6");
            var labelQuantidade = document.createElement("label");
            labelQuantidade.textContent = "Quantidade: ";
            var inputQuantidade = document.createElement("input");
            inputQuantidade.type = "number";
            inputQuantidade.name = "quantity[]";
            inputQuantidade.classList.add("form-control");
            inputQuantidade.setAttribute("pattern", "[0-9]*");
            inputQuantidade.setAttribute("inputmode", "numeric");
            quantityField.appendChild(labelQuantidade);
            quantityField.appendChild(inputQuantidade);
            rowQuantidade.appendChild(quantityField);
            colorSizeBlock.appendChild(rowQuantidade);
        
            // Adicionar o bloco ao container
            container.appendChild(colorSizeBlock);
        }
        
        
        
        
        


        function calculateTotal() {
            var quantities = document.getElementsByName('quantity[]');
            var total = 0;
            for (var i = 0; i < quantities.length; i++) {
                total += parseInt(quantities[i].value) || 0;
            }
            document.getElementById("totalQuantity").textContent = "Quantidade Total: " + total;
        }
    </script>

</head>
    
<body>

    <div class="container mt-5">
        <h2>Catálogo de Produtos</h2>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for producto in productos %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <span class="badge badge-light">ID {{ producto.producto_id }}</span>
                            {{ producto.nombre }} <!-- Adicionado o ID aqui -->
                            <ul class="categoria-list">
                                <li>{{ producto.categoria }}</li>
                            </ul>
                        </div>
                        <div>
                            {% for color, tamanhos in producto.stock.items() %}
                                {% for tamano, cantidad in tamanhos.items() %}
                                    <span class="badge badge-{{ color|lower }} badge-pill">{{ color }}/{{ tamano }}: {{ cantidad }}</span>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container mt-5">
        <h2>Agregar Producto</h2>
        <form method="POST" action="/agregar_producto">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" name="nombre" required>
                    </div>  
                    <div class="form-group">
                        <label for="precio">Precio:</label>
                        <input type="number" class="form-control" name="precio" required pattern="[0-9]*" inputmode="numeric">

                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoria:</label>
                        <input type="text" class="form-control" name="categoria" required>
                    </div>
                </div>
                <div class="col-md-6" id="colorSizeContainer">
                    <!-- Os campos de cor, tamanho e quantidade serão adicionados aqui -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <button type="button" class="btn btn-secondary" onclick="addColorSizeFields()">Adicionar Cor e Tamanho</button>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Agregar Producto</button>
        </form>
    </div>
    
    

    
    <div class="container mt-5">
        <h2>Realizar Venta</h2>
        <form method="POST" action="/realizar_venta">
            <div class="form-group col-md-2">
                <label for="nombre">Nombre del producto:</label>
                <input type="text" class="form-control " name="nombre" required>
            </div>
        
            <div class="form-group col-md-2">
                <label for="cantidad">Cantidad a vender:</label>
                <input type="number" class="form-control" name="cantidad" required>
            </div>
        
            <button type="submit" class="btn btn-primary">Realizar Venta</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>

